<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Привет {{ name }}!
<form action="" method="post">
  <p><b>Введите ваше имя:</b></p>
  <p><input type="text" name="name" /><Br>
  <p><input type="submit"></p>
 </form>
</body>
</html>