<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <style>
        body {
            background-color: darkcyan;
        }
    </style>
</head>
<body>
Ура! Это Шаблон! Текущее время {{ time }}!
Посчитаем!
{% for i in lst %}
</br>
{{ i }}
{% endblock %}
</body>
</html>